/*1*/
h1 {
    color: #f30101;
}
/*2*/
nav span {
    color: #f30101;
}
/*3*/
.font-weight-bold {
    color: #ff0000;
}
/*4*/
div.blog-post:nth-child(2) {
    background-color: #e5ff00;
}
/*5*/
div.blog-post:nth-child(2) hr {
    background-color: rgb(255, 0, 0);
}
/*6*/
nav span:nth-child(2n) {
    color: #45ff4f;
}
/*7*/
.blog-sidebar .p-4:nth-of-type(2) ol li {
  background-color: red;
}
/*8*/
.blog-post:nth-of-type(2) .blog-post-meta a {
  color: rgb(98, 255, 59);
}
/*9*/
.blog-post:nth-child(4) ul li:nth-child(2) {
  color: rgb(255, 0, 0);
}
/*10*/
a.float-right.mb-3.mr-3 {
  color: red;
}
/*11*/
.blog-pagination .btn:nth-child(2) {
  background-color: rgb(0, 217, 255);
}
/*12*/
footer p a:nth-child(2) {
  color: rgb(255, 0, 179);
}